<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
  </configSections>
  <appSettings>
    <add key="MirrorOn" value="Off" />
    <add key="DatosContacto" value="Nombre|Firma|PCC|userMail|statusFirm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="PATH_MYSABRE_USER" value="C:\sabre\apps\emulator\users\" />
    <add key="PATH_MYSABRE_COMPILED" value="C:\sabre\apps\scribe\compiled" />
    <add key="PATH_SABRERED_USER" value="C:\SabreRed" />
    <add key="PATH_SABRERED_COMPILED" value="C:\SabreRed\scribe\compiled" />
    <add key="PATH_DQB_FILE_SABRERED" value="C:\SabreRed\DQB" />
    <add key="PATH_DQB_FILE_SABRERED_INTERJET" value="c:\SabreRed\DQBIntejet"/>
    <add key="PATH_DQB_FILE_SABRERED_VOLARIS" value="c:\SabreRed\DQBVolaris"/>
    <add key="PATH_DQB_FILE_SPLITCONTAINER" value="c:\SabreRed\ConfigSplitContainer"/>
    <add key="PATH_DQB_FILE" value="C:\sabre\apps\emulator\users\FIRM\DQB" />
    <add key="RutaMyCTSDos" value="http://201.149.13.14:5498/MyCTS2/MyCTS2.application"/>
    <add key="RutaMyCTSDosDev" value="http://200.52.81.200:5498/MyCTS2/MyCTS2.application"/>
    <add key="IP_CTS" value="200.52.81.194"/>
    <add key="UBICACION" value="DESCONOCIDA"/>
    <add key="Ambiente" value="PRUEBAS"/>
  </appSettings>
  <dataConfiguration defaultDatabase="MyCTSDb" />
  <connectionStrings>
    <!-- ****************MyCTSDb***************-->
    <add name="MyCTSDb" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSDb;User ID=desarrollo;Password=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <add name="MyCTSDb_Mirror" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSDb;User ID=desarrollo;Password=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <!-- ****************MyCTSSecurityDB***************-->
    <add name="MyCTSSecurityDB" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSSecurityDb;user id=desarrollo;pwd=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <add name="MyCTSSecurityDB_Mirror" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSSecurityDb;user id=desarrollo;pwd=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <!-- ****************MyCTSProductivityDB***************-->
    <add name="MyCTSProductivityDB" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSProductivityDb;user id=desarrollo;pwd=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <add name="MyCTSProductivityDb_Mirror" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSProductivityDb;user id=desarrollo;pwd=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <!-- ****************MyCTSProfilesDB***************-->
    <add name="MyCTSProfilesDB" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSProfilesDb;User ID=desarrollo;Password=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <add name="MyCTSProfilesDB_Mirror" connectionString="Data Source=10.78.60.32\SQL2012TEST;Initial Catalog=MyCTSProfilesDb;User ID=desarrollo;Password=Pa55w0rD@prod" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <anonymousIdentification enabled="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCTS" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="adminmycts@ctsmex.com.mx">
        <network host="mail.ctsmex.com.mx" userName="adminmycts" password="mirera01" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIJBookingManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IIJSessionManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IContentManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBookingManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISessionManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IIJContentManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IVolaris" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2097152" maxReceivedMessageSize="2097152" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.149.13.14:5498/WSInterJet/IJBookingManager.svc/BookingManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIJBookingManager" contract="BookingManager.IIJBookingManager" name="BasicHttpBinding_IIJBookingManager" />
      <endpoint address="http://201.149.13.14:5498/WSInterJet/IJContentManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIJContentManager" contract="ContentManager.IIJContentManager" name="BasicHttpBinding_IIJContentManager" />
      <endpoint address="http://201.149.13.14:5498/WSInterJet/IJSessionManager.svc/SessionManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIJSessionManager" contract="SessionManager.IIJSessionManager" name="BasicHttpBinding_IIJSessionManager" />
      <endpoint address="https://ijtestr3xapi.navitaire.com/ContentManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManager" contract="ContentManagerTest.IContentManager" name="BasicHttpBinding_IContentManager" />
      <endpoint address="https://ijtestr3xapi.navitaire.com/BookingManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager" contract="BookingManagerTest.IBookingManager" name="BasicHttpBinding_IBookingManager" />
      <endpoint address="https://ijtestr3xapi.navitaire.com/SessionManager.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager" contract="SessionManagerTest.ISessionManager" name="BasicHttpBinding_ISessionManager" />
      <endpoint address="http://10.78.60.32/CTSServicesDev/Volaris.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVolaris" contract="APIVolaris.IVolaris" name="BasicHttpBinding_IVolaris" />
    </client>
  </system.serviceModel>
</configuration>